* {
    margin: 0;
}

#header {
    background-color: #00CDFF;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

#logo-redes {
    background-color: #84E7FF;
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-between;
    color:#fff;
    padding: 45px;
}

#nav-bar {
    background-color: #00CDFF;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

#gameserch {
    display: flex;
    flex-direction: column;
}

#search {
    display: flex;
    flex-direction: row;
    margin: auto;
}

#searchvar {
    width: 400px;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
}

ul li {
    background-color: #00CDFF;
    display: flex;
    padding: 15px 30px 15px 30px;
    cursor: pointer;
}

ul li:hover {
    background-color: #66E1FF;
}

a {
    text-decoration: none;
    color: black;
}

.logo {
    margin: 0;
    padding: 0;
}

.logo-container {
    margin: 0;
    padding: 0;
    
}

.logo-y-redes {
    height: 125px;
}

#logo-redes {
    display: flex;
    margin: 0;
    padding: 0;
    justify-items: center;
    align-items: center;
}

.logo-y-redes {
    margin: 0;
}

.redes {
    margin: auto 5px auto auto;
    border-radius: 10px;
}

#logo {
    border-radius: 0px 10px 10px 0px;
}

